* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.wrapper {
    height: 100vh;
    width: 90vw;


}

.image {

    position: relative;
    right: 150px;
    width: 400px;




}

.ladoesquerdo {
    display: inline-block;
    margin-left: 100px;
    width: 60%;
    margin-top: 60px;
}

.ladodireito {
    display: inline-block;
    height: 100vh;
    width: 40%;
    position: absolute;


}

header {
    margin: 30px 0px 100px px;
    margin: 30px;
    display: inline-block;

}

.logo {
    margin: 10px;
    margin-left: 10px;

}

.link-header {
    font-weight: 600;
    font-size: 17px;
    line-height: px;
    color: rgb(17, 137, 192);
    cursor: pointer;
    text-decoration: none;
    opacity: 0.9;
    margin: 24px 0 0 20px;

}

.link-header:hover {
    opacity: 0.5;
}

img {
    margin-right: 20px;



}

.contato {
    width: 120px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(17, 137, 192);
    padding: 6px;
    cursor: pointer;
    transition: 1s;
}

.contato:hover {
    transform: translate(-15px);
    background-color: rgb(247, 115, 143);
}


h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(31, 97, 128);
    line-height: 90px;
    width: 360px;

}

h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 13px;
    color: deeppink;

}

p {
    color: #050000f5;
    font-weight: 900px;
    line-height: 21px;
    font-size: 18px;
    width: 540px;
    margin-top: 25px;
    margin-bottom: 30px;

}

.sabermais {
    width: 170px;
    font-weight: 600;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgb(17, 137, 192);
    cursor: pointer;
    margin-top: px;

}

.sabermais:hover {
    background: rgb(76, 171, 235);
}


@media screen and (max-width: 900px) {


    h1 {
        display: flex;
        line-height: 62px;
        font-size: 30px;
        margin: 58px 50px 0 50px;
        text-align: center;
        width: auto;

    }

    p {

        margin: 15px 40px;
        font-size: 15px;
        margin-top: 20px;
        width: auto;
        text-align: center;
    }

    .ladoesquerdo {

        width: 90%;
        height: 50%;
        padding: 0;
        margin: 0;

    }

    .ladodireito {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        margin-left: 150px;
        margin-top: 50px;
       

    }

    image {
        position: static;
        width: 100px;
        
    }

    .sabermais {
       display: block;
        font-size: 15px;
        margin: 0 auto;
 
    }

    header {

        display: none;
    }

}